<form [formGroup]="form" novalidate class="form" (ngSubmit)="process()">
  <div class="form-group">
    <input #name class="form-control" placeholder="Nom et prénom" formControlName="name">
    <!-- <div *ngIf="name.invalid" class="alert alert-ganger">*Champs invalide</div> -->
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="ex: 1234" formControlName="reference">
  </div>
  <div class="form-group">
    <select class="form-control" formControlName="state">
      <option *ngFor="let libelle of stateLibelles" [ngValue]="libelle">{{ libelle }}</option>
    </select>
  </div>
  <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>
